{% extends 'base.html.twig' %}

{% block body %}
<div class="container success__box">
    <p class="paragraph">Votre candidatures a bien été prise en compte.</p>
    <p class="paragraph paragraph--success">Veuillez considérer que sans contact de notre part dans les trois semaines celle-ci n'est malheuresement pas retenue.</p>
    <a class="contact--button" href="{{ path("offers") }}"> Retourner aux offres</a>

        <p class="infos__rgpd">Pour toute demande relative à la gestion de vos données personnel merci de contacter : email-support@gmail.com</p>
</div>
{% endblock %}