{% extends 'base.html.twig' %}

{% block body %}
<div class="container success__box">
    <p class="paragraph">Merci d'avoir déposé votre candidature.</p>
    <p class="paragraph paragraph--success">Elle pourra être consulté lors de nos prochain recrutement.</p>
    <a class="contact--button" href="{{ path("offers") }}"> Retourner aux offres</a>

        <p class="infos__rgpd infos__rgpd--success">Pour toute demande relative à la gestion de vos données personnelles merci de contacter : humansfirstconseil@gmail.com</p>
</div>
{% endblock %}