{% extends 'base.html.twig' %}

{% block body %}
<div class="container success__box">
    <p class="paragraph">Votre message a bien été pris en compte.</p>
    <p class="paragraph paragraph--success">Nos équipes reviendrons vers vous rapidement</p>
    <a class="contact--button" href="{{ path("home") }}"> Retourner a l'accueil</a>

    <p class="infos__rgpd infos__rgpd--success">Pour toute demande relative à la gestion de vos données personnelles merci de contacter : humansfirstconseil@gmail.com</p>
</div>
{% endblock %}