{% extends 'base.html.twig' %}

{% block body %}
<div class="container success__box">
    <p>Votre candidatures a bien été prise en compte.</p>
    <p>Nos équipes reviendrons vers vous rapidement</p>
    <a class="form--button" href="{{ path("offers") }}"> Retourner aux offres</a>
</div>
{% endblock %}