{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
<div class="container flex__candidate">
<div class="flex__candidate--pic"></div>
<div class="flex__candidate--content">
    <div class="business--title">
            <img class="icon_png" src="{{ asset('build/handshake.png') }}" width="70" height="70">
            <h3><strong>Recrutement</strong></h3>
    </div>
    <p class="paragraph"> Vous êtes à la recherche d’un emploi ? En réflexion sur votre avenir ?<br>
    Nous vous accompagnons dans la définition de votre projet professionnel et votre évolution de carrière à l’aide plusieurs outils.</p>

    <p class="paragraph"> <i class="fas fa-long-arrow-alt-right"></i> <strong>Le bilan de compétences</strong> permet d’analyser et d’évaluer des compétences professionnelles et personnelles, ainsi que des aptitudes et des motivations d'une personne. Il aboutit à la définition d’un projet professionnel réaliste et adapté au marché de l'emploi et, le cas échéant, à la définition d’un projet de formation continue ou complémentaire.</p>

    <p class="paragraph"><i class="fas fa-long-arrow-alt-right"></i> <strong>Coaching professionnel</strong> : Besoin d’une aide pour rédiger un CV, une lettre de motivation, se préparer à un entretien ? Regagner confiance ? Faire le point sur soi-même ?<br>
    Nous vous proposons un accompagnement personnalisé dans le respect de nos valeurs : écoute, bienveillance, confidentialité
    </p>
</div>
    
</div>
{% endblock %}
