{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="button__box--candidate">
        <button class="candidate--button">{{ button_label|default('Déposer votre CV') }}</button>
    </div>
{{ form_end(form) }}

        <p class="infos__rgpd">Pour toute demande relative à la gestion de vos données personnel merci de contacter : email-support@gmail.com</p>

