{% extends 'base.html.twig' %}

{% block title %}Candidature-Spontanée{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h3>Déposez votre CV</h3>
    <div class="container--form">
        {{ include('spontaneous_candidacy/_form.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}