/* base */
/*  
    font-family: 'EB Garamond', serif;
    font-family: 'PT Sans', sans-serif; 
*/
:root{
    --background : #F5F0E8;
    --dark-blue : #2F4F4F;
    --light-blue : #9FBBBB;
    --dark: #343434;
    --light: #ffffff;
    --broke-white: rgba(255, 255, 255, 0.5);
}
body {
    background-color: var(--background) !important;
}
.header{
    background-color: white;
}
.hf_logo{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
h2, h3{
    text-align: center;
    color: var(--dark-blue);
    font-family: 'PT Sans', sans-serif;
}
.navbar{
    background-color: white;
}
.navbar-collapse{
    justify-content: center;
}
.paragraph{
    font-family: 'EB Garamond', serif;
    font-size: 17px;
    font-weight: 500;
}
a:hover{
    text-decoration: none;
    transform: scale(1.1);
    color: white;
}
.service > a:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.hf_pic{
    background: url("../img/rh_pic.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}
.intro{
    margin: 1rem auto;
    text-align: center;
}
.quote{
    font-family: Dancing Script;
    font-style: normal;    
    font-weight: bold;
    color: var(--dark-blue);
    font-style: italic;
    font-size: 1.5rem;
}
.filigrane_text{
    position: relative;
    top: 123px;
    left: 65px;;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: rgba(255, 255, 255, 0.5);
}
.container--form{
    width: 70%;
    margin: 0 auto;
}

/* footer */
footer{
    background-color: var(--dark);
    color: var(--light);
    padding-left: 5%;
    font-size: 1rem;
}
.footer__presentation{
    max-width: 11rem;
}
.title--footer{
    color: var(--light-blue);
}
.footer__content{
    font-size: 0.8rem;
}
footer a{
    text-decoration: none;
    color: var(--light);
}
footer ul{
    margin-bottom: 0;
}
.footer__link--nav{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.footer__link--nav>li{
    margin-right: 5px;
    font-size: 0.7rem;
}
.form--button{
    position: relative;
    background: #2F4F4F;
    border: 0;
    padding: 14px 42px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    box-shadow: 0 8px 32px rgba(#000,.2);
    display: block;
    margin: 0 auto;
    width: 40%;
}

 
/* 
----------------------------------------------------------------------------------------------
                                        home page 
----------------------------------------------------------------------------------------------
*/

/* service section */
.service{
    text-align: center;
    background-color: var(--broke-white);
    padding: 3%;
    width: 90% !important;
    margin: 3% auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.title--service{
    margin-bottom: 1.5rem;
}
.service_recrutement, .service_expertise, .service_accompagnement{
        margin: 3rem auto;
        max-width: 18rem;
    }
.home__about--link{
    text-decoration: none;
    background-color: var(--dark-blue);
    padding: 2%;
    border-radius: 20px;
    color: var(--light);
    display: inline-block;
}
.home__about--link:hover{
    text-decoration: none;
    color: var(--light);
    transform: scale(1.1);
}

/* emploi section */
.card{
    border: 1px solid black;
    width: 11rem;
    max-width: 11rem;
    text-align: center;
    height: 15rem;
    border-radius: 20px !important;
    flex: 0 0 auto;
    margin: 1rem;
}
.card-header{
    background-color: var(--dark) !important;
    color: var(--light);
    border-radius: 20px 20px 0 0 !important;
}
.card-text{
    text-align: left;
}
.card-btn{
    font-size: 0.9rem !important;
    background-color: var(--light-blue) !important;
    color: var(--light) !important;
    border-radius: 20px !important;
}
.home__offer--title{
    margin-bottom: 0.2rem;
}
.emploi_horizontal_scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.all__offer--link{
    display: block;
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--light);
    padding: 0.25rem;
    border-radius: 20px;
    margin: 0.7rem auto;
    text-align: center;
    width: 45%;
}
.all__offer--link:hover{
    text-decoration: none;
    color: var(--light);
}
/* contact section */
.contact{
    width: 80%;
    margin: 0.5rem auto;
    text-align: center;
    font-weight: 700;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2%;
    color: var(--dark-blue);
    background-color: var(--broke-white);
}
.contact--button{
    text-decoration: none;
    background-color: var(--dark-blue);
    padding: 2%;
    border-radius: 20px;
    color: var(--light);
    font-weight: 600;
    display: inline-block;
}
.contact--button:hover{
    text-decoration: none;
    transform: scale(1.1);
    color: var(--light);
}


/* 
----------------------------------------------------------------------------------------------
                                        About page 
----------------------------------------------------------------------------------------------
*/
.background__about{
    background: url("../img/RhRandomPic.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 220px;
}
.paragraph--about{
    text-align: center;
}
.business--presentation a, .candidate--presentation a{
    text-decoration: none;
    background-color: var(--dark-blue);
    padding: 2%;
    border-radius: 20px;
    color: var(--light);
    margin-top: 1rem;
    text-align: center;
    display: inline-block;
}
.business--presentation a:hover, .candidate--presentation a:hover{
    text-decoration: none;
    color: var(--light);
}
.candidate--presentation{
    margin-top: 2rem;
}
.icon--target, .icon--rating{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}
.business--icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon--handshake{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2rem auto;
}
.icon_png{
    margin: 0 auto;
    display: flex;
}
.value--list{
    margin: 0 auto;
    width: 42%;
    padding: 0;
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid ;
    border-color: lightgrey;
    border-radius: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    width: 90%;
    margin: 1rem auto;
}

.presentation--picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 1rem auto;
    display: block;
}
.presentation--title{
    margin-bottom: 0px;
}
.presentation--role{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.presentation--paragraph {
    text-align: center;
}
.presentation--links{
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* 
----------------------------------------------------------------------------------------------
                                        Business page 
----------------------------------------------------------------------------------------------
*/
.square--process{
    background-color: var(--light-blue);
    width: 8rem;
    text-align: center;
    padding: 0.8rem;
    border-radius: 20px;
}
.process--recrutement{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.process--content{
    display: flex;
    flex: 0 0 auto;
}
.fa-arrow-right{
    color: var(--dark-blue);
    margin: auto 0.5rem;
}

/* 
----------------------------------------------------------------------------------------------
                                        Offer page 
----------------------------------------------------------------------------------------------
*/
.offer--show{
    width: 60%;
    margin: 1rem auto;
}
.offer--title{
    color: var(--dark-blue);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 0.1rem;
    text-align: left;
}
.offer--text{
    font-size: 1rem;
}
.offer__link--show{
    color: var(--dark-blue);
}
.offer__link--show:hover{
    color: var(--dark-blue);
    font-size: 1.55rem;
}
.metadata{
    font-size: 0.9rem;
    font-weight: 800;
}
.success__box{
    width: 60%;
    margin: 2rem auto;
    text-align: center;
}
.paragraph--success{
    margin-bottom: 2rem;
}
.spontaneous__candidacy{
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    text-align: center;
    width: 50% !important;
    margin: 2rem auto;
    padding: 1.5rem !important;
}
.spontaneous__candidacy--text{
    font-size: 1.1rem;
    font-weight: 600;
}
.search__logo{
    font-size: 3rem;
    color: var(--dark-blue);
    text-align: center;
    margin-top: 2rem;
}

.candidate--button{
    text-decoration: none;
    background-color: var(--dark-blue);
    padding: 2%;
    border-radius: 20px;
    color: var(--light);
    font-weight: 600;
    display: inline-block;
}
.candidate--button:hover{
    text-decoration: none;
    transform: scale(1.1);
    color: var(--light);
}
.button__box--candidate{
    margin: 2rem auto;
    text-align: center;
}
.infos__rgpd{
    font-size: 00.8rem;
    text-align: center;
    font-style: italic;
    font-weight: 600rem;
    margin-top: 3rem;
}

/* 
----------------------------------------------------------------------------------------------
                                        Login page 
----------------------------------------------------------------------------------------------
*/

.login__page{
    display: flex;
}
.login__page--background{
    width: 50%;
    height: 100vh;
}
.login__page--form{
    width: 50%;
    height: 100vh;
}
.login__form{
    margin-top: 50%;
    margin-left: 3rem;
}



/* 
----------------------------------------------------------------------------------------------
                                        Media queries 
----------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 700px){
    .filigrane_text{
        top: 110px;
        left: 220px;
    }
    .flex--footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    }
    @media screen and (min-width: 780px){
        .emploi_horizontal_scroll{
        justify-content: center;
    }
    } 
    @media screen and (min-width : 800px){
        .dekstop__vue--service{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .flex--service{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .candidate{
            margin-bottom: 0;
            margin: auto 0;
        }
        .business{
            border-right: 1px solid black;
        }
        .all__offer--link{
            width: 25%;
        }
        .presentation{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            max-width: 60%;
        }
        .presentation--right{
            width: 45%;
            border-left: 1px solid black;
            padding-left: 1rem;
        }
        .presentation--left{
            width: 45%;
            align-self: center;
        }
        .presentation--picture{
            display: block;
        }
        .container--form{
            width: 50%;
        }
    }
    @media screen and (min-width: 850px){
        .hf_pic{
            height: 300px;
        }
        .filigrane_text{
            top: 200px;
            left: 265px;
        }
        .contact{
            margin-top: 2rem ;
        }
        .background__about{
            height: 300px;
        }
    }
    @media screen and (min-width: 1000px){
        .contact{
            max-width: 30%;
        }
        .filigrane_text{
            top: 155px;
            left: 370px;
            font-size: 22px;
        }
        .flex--about{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 3rem;
        }
        .business--presentation{
            width: 45%;
        }
        .candidate--presentation{
            width: 45%;
            margin-top: 0;
        }
        .flex__business--recrutement{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 3rem;
        }
        .flex__recrutement--content{
            width: 65%;
            margin-left: 2rem;
        }
        .flex__business--expert{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            margin-top: 3rem;
        }
        .flex__expert--content{
            width: 65%;
            margin-right: 2rem;
        }
        .flex__business--pic-one{
            width: 435px;
            height: 355px;
            border-radius: 20px;
            background: url('../img/recrutement__pic.png');
        }
        .flex__business--pic-two{
            width: 435px;
            height: 355px;
            border-radius: 20px;
            background: url('../img/expertisepic.jpg');
            background-size: cover;
        }

        .flex__candidate{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 3rem;
        }
        .flex__candidate--content{
            width: 65%;
            margin-left: 2rem;
        }
        .flex__candidate--pic{
            width: 435px;
            height: 355px;
            border-radius: 20px;
            background: url('../img/photo-accompagnement.jpg');
            background-size: cover;
        }
        .container--form{
            width: 35%;
        }
    }
    @media screen and (min-width: 1200px){
    .business{
        padding-right: 5rem;
    }
    .candidate{
        position: relative;
        right: 60px;
    }
    .icon--handshake{
        margin: 3.6rem auto;
    }
    .fa-arrow-right{
        color: var(--dark-blue);
        margin: auto 0.1rem;
    }
    }
    @media screen and (min-width: 1400px){
        .filigrane_text{
            top: 155px;
            left: 340px;
            font-size: 22px;
        }
    }   