{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="form--button" type="submit">{{ button_label|default('Envoyer') }}</button>

        <p class="infos__rgpd">Pour toute demande relative à la gestion de vos données personnel merci de contacter : humansfirstconseil@gmail.com</p>

{{ form_end(form) }}
