{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container news__logo mt-4"><img class="icon_png" src="{{ asset('build/message.svg') }}" width="70" height="70"></div>
    <h2><strong>Nous contacter</strong></h2>
    <div class="container--form">
        {{ include('message/_form.html.twig') }}
    </div>

{% endblock %}
