{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="button__box--candidate">
        <button class="candidate--button">{{ button_label|default('Postuler') }}</button>
    </div>
{{ form_end(form) }}
