{% extends 'base.html.twig' %}

{% block title %}Postuler{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h3>Remplissez ce formulaire pour postuler</h3>
<div class="container--form">
    {{ include('candidate/_form.html.twig') }}
</div>
{% endblock %}
