{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
<div class="container">

    <div class="flex__business--recrutement" id="recrutement">
        <div class="flex__business--pic-one"></div>
        
        <div class="flex__recrutement--content">
            <div class="business--title">
                <img class="icon_png" src="{{ asset('build/target.png') }}" width="70" height="70" alt="logo">
                <h3><strong>Recrutement</strong></h3>
            </div>
            <p class="paragraph">HUMANS FIRST facilite vos recrutements sur des fonctions transverses et stratégiques sur l’ensemble du territoire. </p>
            <p class="paragraph">Nous bénéficions d’une expertise reconnue dans les domaines agro-alimentaire, pharmaceutique, chimie, recherche et développement, industrie, ingénierie, maintenance, fonctions support... </p>
            <p class="paragraph">Nous vous proposons une offre sur mesure pour répondre à vos problématiques de recrutement.</p>
        </div>
    </div>

        
        
    <div>
        <h3>Notre process de recrutement adaptable selon vos besoins</h3>
        <div class="process--recrutement">
            <div class="process--content">
                <p class="square--process"> Rédaction du cahier des charges</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Élaboration de la stratégie et rétroplanning</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Approche directe, activation de nos réseaux.</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Qualification et présélection téléphonique</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Entretien avec le consultant, définition d’une shortlist</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Entretiens<br> avec<br> le client</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="process--content">
                <p class="square--process"> Suivi de bonne intégration</p> 
            </div>
        </div>
    </div>

    <div class="flex__business--expert" id="expertise">
        <div class="flex__business--pic-two"></div>

        <div class="flex__expert--content">
            <div class="business--title">
                <img class="icon_png" src="{{ asset('build/rating.svg') }}" width="70" height="70" alt="logo">
                <h3><strong>Expertise RH</strong></h3>
            </div>
            <p class="paragraph">HUMANS FIRST intervient au sein de vos organisations en apportant des solutions concrètes et adaptées à vos besoins et votre stratégie.</p>
            <p class="paragraph">Notre réseau de partenaires experts nous permet de répondre à l’ensemble des sollicitations dans des domaines variés avec un consultant dédié sur l’ensemble du processus.</p>

            <p class="paragraph">Nous vous proposons une offre sur mesure dans différentes thématiques :</br>

                    <i class="fas fa-long-arrow-alt-right"></i> Formation</br>
                    <i class="fas fa-long-arrow-alt-right"></i> Conseil en Ressources Humaines</br>
                    <i class="fas fa-long-arrow-alt-right"></i> Mise en place d’une démarche GPEC (Gestion Prévisionnelle des Emplois et Compétences)</p>
        </div>
    </div>
</div>


{% endblock %}
